.list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    margin-bottom: 100px;
}

.eachOrder {
    background-color: rgb(70, 70, 70);
    border-radius: 40px;
    border: 3px solid rgb(233, 111, 111);
    color:rgb(233, 111, 111);
    text-shadow: 2px 2px black;
    text-align: center;
    box-shadow: inset 2px 2px 2px 2px black;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
}


.order {
    margin: 5px;
}

p.order {
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    text-shadow: 2px 2px black;
}

button.shadow {
    margin: 10px;
}