button.shadow {
    color: black;
    border: 3px solid rgba(233, 111, 111);
    background-image: radial-gradient(rgb(255, 255, 255),  rgba(233, 111, 111));
    border-radius: 40px;
    padding: 15px 30px;
    text-decoration: none;
    text-shadow:2px 2px rgb(117, 117, 117);
    font-weight: bold;
    font-size: 18px;
    font-family: 'Special Elite', cursive;
}

button:hover,
button:focus {
    color:rgb(233, 111, 111);
    border: 3px solid rgb(0, 0, 0);
}

.titleImage{
    width: 30%;
}

.flexed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.worked {
    font-family: 'Special Elite', cursive;
    font-size: 30px;
}

h5 {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}


/* 
=================================
    BUTTON EFFECT 
=================================
*/

.shadow
{
    position:relative;
    -webkit-box-shadow:0 10px 14px rgb(0, 0, 0), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 10px 14px rgb(0, 0, 0), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 10px 14px rgb(0, 0, 0), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before, .shadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgb(0, 0, 0);
    -moz-box-shadow:0 0 20px rgb(0, 0, 0);
    box-shadow:0 0 20px rgb(0, 0, 0);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
        -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
        -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/* 
=================================
    BUTTON EFFECT 
=================================
*/