.navigation {
    background: rgba(255, 255, 255, 0);
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    list-style: none;
}

a {
    padding: 1rem 0.5rem;
    border-radius: 40px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Special Elite', cursive;
    text-decoration: none;
    align-items: center;
    color: rgb(0, 0, 0);
} 

a:hover, a:focus {
    background-image: radial-gradient(black,  rgba(88, 3, 3, 0.979));
    color: rgb(255, 255, 255);
}
