@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.d-flex{
  display: flex;
  flex-direction: column;
  background: #646464;
  border-radius: 0 0 5px 5px;
  border:5px solid rgb(255, 255, 255);
  padding: 25px;
}
form{
  flex: 4;
  flex-direction: column;
}
.Yorder{
  flex: 2;
}
.title{
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgb(233, 111, 111)), color-stop(100, #5e0202));
  background: -moz-linear-gradient(top left, rgb(233, 111, 111) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top left, rgb(233, 111, 111) 0%, #ffffff 100%);
  background: -o-linear-gradient(top left, rgb(233, 111, 111) 0%, #ffffff 100%);
  background: linear-gradient(to bottom right, rgb(233, 111, 111) 0%, #ffffff 100%);
  border-radius:5px 5px 0 0 ;
  border-top: 5px solid rgb(0, 0, 0);
  border-left: 5px solid rgb(0, 0, 0); 
  border-right: 5px solid rgb(0, 0, 0);
  padding: 20px;
  color: #3b0000;
}
h2{
  margin: 0;
  padding-left: 15px; 
  text-decoration: none;
}
.required{
  color: red;
}
label, table{
  display: block;
  margin: 15px;
}
label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}
input[type="text"], input[type="tel"], input[type="email"], select
{
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  color: rgb(71, 0, 0);
}
select{
  width: 72%;
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

table{
  margin: 0;
  padding: 0;
}
th{
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
tr>td:nth-child(1){
  text-align: left;
  color: #250000;
}
tr>td:nth-child(2){
  text-align: right;
  color:rgb(53, 0, 0);
}
td{
  border-bottom: 5px solid #dadada;
  padding: 25px 25px 25px 0;
}

p{
  display: block;
  color: rgb(61, 0, 0);
  margin: 0;
  padding-left: 25px;
}
.Yorder>div{
  padding: 5px 0; 
}


@media (min-width: 1200px)
{
  .container{
    max-width: 1140px;
  }
}