.chefPage {
    margin-top: 25px;
    margin-bottom: 100px;
}

.contain{
    display: flex;
    align-content: center;
    justify-content: center;
}

.box {
    float: left;
    width: 33.33%;
    padding: 50px;
}

.chefImageContainer{
    margin-top:50px;
}

.chefList{
    font-size: 20px;
    font-family: 'Sacramento', cursive;
    font-family: 'Special Elite', cursive;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.h1Chefs {
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
}

